@media (max-width:600px) 
{
  @font-face
  {
    font-family:"Roboto-Black-Light";
    src:url("fonts/Roboto-Light.ttf") format("truetype");
  }
  body
  {
    font-family:"Roboto-Black-Light";
  }

  header
  {
    display:block;
    text-align: center;
    height:106px;
    position:fixed;
  }


.lien_accueil_diapo, .lien_services, .lien_projets, .lien_contact {
  font-size: 15px;
}


  .titre_accueil
  {

  display:inline-block;
  }

  #services_image
  {
    display:none;
  }

  

  .bouton_infos 
  {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .bouton_infos 
  {
  font-size:1.5em; 
  font-family: "Roboto-Black-Light";
   
  }

  .bouton_envoyer 
  {
    font-family: "Roboto-Black-Light";
    
  }



  #logo
  { 
    height: 30px;
    left: 5%;
    top: 35%
  }
    
  .menu_haut
  {
    font-size: 12px;
    display:flex;
    justify-content:space-around; 
    height:100% 
  }

  .bouton_accueil:hover, .bouton_services:hover, .bouton_portfolio:hover, .bouton_contact:hover
  {
    border:none;
  }

  .bouton_accueil, .bouton_services, .bouton_portfolio, .bouton_contact
  {
    border:none;
  }

  #image_slider
  {
    display: none;
  }

  .agence_texte, .agence_texte2
  {
    opacity:0.43;
    color: black;
  }

  .texte_accueil
  {
    top: 50%;
    left:0;
    width: 100%;
    font-size: 0.5em;
    position:static;
    text-align:center;
  }

  .boutons_slider
  {
    display:none;
  }

  .menu_projets 
  {
    width: 100%;
  }

  .agence_texte, .agence_texte2 
  {
    font-size: 1.5em;
  }
  
  .SERVICES_Titre, .PROJETS_Titre 
  {
    font-size: 1em;
  }
  
  .text_services, .texte_projets 
  {
    font-size: 0.8em;
  }
  
  .texte1, .texte2, .texte3 
  {
    font-size: 0.8em;
    padding-left:100px;
  }

  .description1, .description2, .description3
  {
    padding-left:100px;
  }
  
  .bloc_droite 
  {
    margin-left:5%;
    margin-right:5%;
    padding-left:0%;
    padding-right:0px;
    padding-top:0%;
  }
  

  .WA2 
  {
    font-size: 0.8em;
  }
  
  .formulaire_contact 
  { 
    right: 11%;
    text-align:center;
    position:static;
    padding-left:0px;
    padding-right:0px;
  }

  .formulaire_contact 
    {
      right: 14%;
    }

  .contact_info
  {
    font-size:2em;
    font-family:"Roboto-Bold";
  }

  }
  

  

  



@media screen and (min-width:600px) and (max-width:834px)
/* Paysage Téléphone*/

{
  @font-face

  {
  
      font-family:"Roboto-Black-Light";
      src:url("fonts/Roboto-Light.ttf") format("truetype");
  }


/* Webagency.css | file:///C:/Users/Thomas/Desktop/Webagency.css */

body {
  /* font-family: "Roboto-Black", Verdana, Geneva, Tahoma, sans-serif; */
  font-family: "Roboto-Black-Light", Verdana, Geneva, Tahoma, sans-serif;
}

.texte_accueil {
  /* top: 35%; */
  top: 30%;
  font-size: 0.7em;
}



#services_image


  {

    display:none;

  }

  .bloc_droite {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 0%;
    padding-right: 0px;
    padding-top: 0%;
  }






}

@media screen and (min-width:768px) and (max-width:1023px)
/* Portrait Tablettes */



{



  .texte_accueil 
  
  {

  font-size: 0.7em;

  }

 
  
  

  #services_image {
  
    float:none;
    padding-left:0px;
  }

  .bloc_droite
  {
    margin-left:5%;
    margin-right:5%;
    padding-left:0%;
    padding-right:0px;
    padding-top:0%;
  }



}

@media screen and (min-width:1023px) and (max-width:1220px)
/* Paysage Tablettes */

{



  .texte_accueil 
  
  {

  font-size: 0.7em;

  }




#services_image

{

  float:none;
  padding-left:0px;

}

.bloc_droite
  {
    margin-left:5%;
    margin-right:5%;
    padding-left:0%;
    padding-right:0px;
    padding-top:0%;
  }




}



  
    

   
  
    
  
  
  