

body

{

    margin:0px;
    font-family: "Roboto-Black", Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    overflow-x:hidden;
    
    

}






header

{

    justify-content: space-around;
    height:100px;
    align-items: center;
    z-index:101;
    background-color: white;
    width:100%;
    
    display:flex;
    position:fixed;
    
    
    
}

#Accueil_diapo

{

    width:100%;

}

.Parent1, #enfant1
{

    width:100%;

}
.bouton_accueil, .bouton_services, .bouton_portfolio, .bouton_contact

{

    border-top : solid 4px transparent;


}

.lien_accueil_diapo, .lien_services, .lien_projets, .lien_contact

{

    color:black;
    text-decoration: none;
    opacity:0.5;

}

.bouton_accueil:hover

{

    border-top: solid 4px rgb(70, 146, 177);
    

}

.lien_accueil_diapo:hover, .lien_services:hover, .lien_projets:hover, .lien_contact:hover
{

 opacity:1;

}

.bouton_services:hover

{

    border-top: solid 4px rgb(70, 146, 177);
    

}

.bouton_portfolio:hover

{

    border-top: solid 4px rgb(70, 146, 177);
    

}

.bouton_contact:hover

{

    border-top: solid 4px rgb(70, 146, 177);
    

}




a

{

    text-decoration:none;
    padding: 0px 10px;
    

}



@font-face

{

    font-family:"Roboto-Black";
    src:url("fonts/Roboto-Black.ttf") format(truetype);
}



.Texte_Accueil

{
    
    position: absolute;
    top:35%;
    left:10%;
    color:white;
    width:40%;

}

#Services:target

{

    padding-top: 100px; 
    margin-top:0px;

}

#Projets:target

{

    padding-top: 100px; 
    margin-top:100px;

} 
h1

{

    font-weight: normal;

}

#logo

{

    height:50px;
    position: absolute;
    left:10%;
    top: 25%;
    
    

}

a
{

    display:block;
    

}
nav

{

    position: absolute;
    right:10%;
   
    
    

}

.nav_menu_haut

{

    height:100px;

}

.menu_haut

{

    height:100px;
    display:flex;
    list-style-type:none;
    margin:auto;
    padding-left:0px;
    line-height:6em;
    
}


.Parent1

{

    position: relative;
    padding-top:100px;

}

.boutons_slider

{

    position:absolute;
    top:50%;
    height:60px;
    
    
    width:100%;
    
}

.bouton_slider_gauche 

{

    width:30px;

}

.bouton_slider_droite

{

    width:30px;
    position:absolute;
    right:0%;

}

.bouton_slider_gauche, .bouton_slider_droite

{

    display:inline-block;

}

.bouton_slider_gauche:hover

{

    opacity:0.5;
    cursor:pointer;

}

.bouton_slider_droite:hover

{

    opacity:0.5;
    cursor:pointer;

}


.demi_cercle_gauche

{
    
    width: 30px;
    height: 60px;
    background-color: rgb(51, 51, 50);
    border-top-right-radius: 110px;  
    border-bottom-right-radius: 110px; 
    
    
      
}

.fleche_gauche

{

    height:10px;
    width:10px;
    border-top: 3px solid rgb(255, 255, 255);
    border-right: 3px solid rgb(255, 255, 255);
    position:absolute;
    top:42%;
    left:0.5%;
    transform:rotate(225deg);

}

.demi_cercle_droite

{
    
    width: 30px;
    height: 60px;
    background-color: rgb(51, 51, 50);
    border-top-left-radius: 110px;
    border-bottom-left-radius: 110px; 

}

.fleche_droite

{

    height:10px;
    width:10px;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    position:absolute;
    top:42%;
    right:30%;
    transform:rotate(225deg);

}

.bouton_infos

{

    color:white;
    text-decoration: none;
    background-color:rgb(70, 146, 177);
    width:120px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    border-bottom:3px solid rgb(57, 124, 157);
    border-radius:4px;
    border-left:none;
    border-top:none;
    border-right:none;
    

}

.bouton_infos:hover

{

    opacity:0.5;

}


.WA

{

    color:rgb(70, 146, 177);
    font-weight: 900;
    font-size:1.5em;
}

.agence_texte

{

    font-size:1.5em;
    font-weight: 900;

}





.Centré, .Centré1

{

    text-align:center;


}


.circle
{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgb(70, 146, 177);
}

hr

{

    width: 70px;
    opacity:0.33;

}

.contenant
{

    height:700px;

}

.google_map

{

    height:700px;
    width:100%;
    border-top-width: 0px;
    border-top-style: solid;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-left-width: 0px;
    border-left-style: solid;
    border-right-width: 0px;
    border-right-style: solid;

}

.Split

{

    
    display:flex;
    width: 180px;
    margin:auto;
    
    

}

.SERVICES_Titre , .PROJETS_Titre

{

font-size: 35px;
font-weight: bold;

}

.Text_Services , .Text_Projets

{

    text-align: center;
    opacity: 0.43;
    
    

}


#Services

{

    position: relative;
    

}

#Services_Image

{

    height:350px;
    float:left;
    left:10%;
    margin-top:4px;
    padding-left:100px;
    

}

.Bloc_Droite

{

    padding-left:50%;
    padding-right:100px;



}

.fa-chart-line

{

    
    color: rgb(70, 146, 177);
    font-size:2em;
    border:solid 2px rgb(216, 208, 208);
    border-radius:100%;
    padding:15px;
    

}

.Blue_circle {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: rgb(70, 146, 177);
    margin-top:25px;
    margin-left:-9px;
}

.fa-chart-line,.fa-cubes,.fa-chart-pie, .Blue_circle

{


float: left;

}

.Description1, .Description2, .Description3

{

    padding-left:100px;
    font-weight: bold;

}

.blabla1, .blabla2, .blabla3

{

    padding-left:100px;
    opacity:0.5;

}


.UI_Design

{

    padding-top:25px;

}


.fa-cubes, .fa-chart-pie

{

    color: rgb(70, 146, 177);
    font-size:2em;
    border:solid 2px rgb(216, 208, 208);
    border-radius:100%;
    padding:15px;

}

.Description2, .Description3

{

    margin-top:0px;

}

.SEO

{

    padding-top:25px;

}

#Projets, #Services


{


    margin-top:100px;


}

#Projets

{


    background-color: rgb(224, 224, 221);
    padding-top:100px;
    padding-bottom:100px;

}

.Menu_Projets

{

    width:380px;
    text-align:center;
    margin:auto auto 40px auto;
    
    height:50px;

}

.menu2

{

    display:flex;
    padding-left:0px;
    list-style-type:none;
    justify-content: space-around;
    text-align:center;
    margin:auto;
    height:50px;
    line-height:3em;
    border-radius:5px;
    background-color:rgb(189, 185, 185);
}

.triangle1

{

    display:block;
    justify-content:space-around;
    opacity:0;
    margin-top:-11.5px;

}

.lien_par_défaut

{

    margin-top:-10px;
    opacity:1;

}


.fa-caret-down

{

    color:rgb(57, 124, 157);
    font-size:35px;
    margin-left: 36px;
    margin-top: -13px;
    opacity:0;

}

.bouton2_allworks
{

    background-color: rgb(70, 146, 177);
    border-bottom:3px solid rgb(57, 124, 157);
    border-radius:4px 0px 0px 4px;
    border-left:none;
    border-top:none;
    border-right:none;
}



.bouton2_creative:hover, .bouton2_corporate:hover

{

background-color: rgb(70, 146, 177);
border-bottom:3px solid rgb(57, 124, 157);
}

.bouton2_portfolio:hover 

{

    background-color: rgb(70, 146, 177);
    border-bottom:3px solid rgb(57, 124, 157);
    border-radius:0px 4px 4px 0px;    

}


}

.bouton2_creative:hover > .bouton2_allworks

{

    background-color:rgba(255,255,255,0);

}

.lien_creative:hover, .lien_corporate:hover, .lien_portfolio1:hover

{

    color:white;

}

.lien_allworks

{

    color:white;
    opacity:0.43;

}

.lien_creative, .lien_corporate, .lien_portfolio1

{

    text-decoration: none;
    color:black;
    opacity:0.43;
    width:100%;

}

.lien_corporate

{

    padding-left:7px;

}

.bouton2_allworks, .bouton2_creative, .bouton2_corporate, .bouton2_portfolio

{

    display:flex;
    flex-wrap: wrap;
    width:95px;

}

.bouton2_creative:hover .fa-caret-down, .bouton2_corporate:hover .fa-caret-down, .bouton2_portfolio:hover .fa-caret-down

{

    opacity:1;

}

.bouton2_allworks .fa-caret-down

{

    opacity:1;

}


figure

{

height:190px;
width:285px;

}

figure img

{

    width:100%;
    height:100%;

}

.Images_Projets

{

    display:flex;
    flex-wrap:wrap;
    justify-content: center;

}

.figure1

{

    position:relative;

}

.texte_figure1

{

    position:absolute;
    width:100%;
    top:67%;
    background-color:rgba(0,0,0,0.5);
    opacity:0;
    color:white;
    height:63px;
    margin:auto;
    
    
    

}

.fa-eye

{

    position:absolute;
    right:6%;
    top: 56%;
    color: white;
    border:solid 2px rgb(216, 208, 208);
    border-radius:100%;
    padding:12px;
    background-color:rgb(70, 146, 177);
    opacity:0;
    

}

.tfig1

{

    position: absolute;
    top:18%;
    left:2%;

}

.figure1:hover .texte_figure1

{

    opacity:1;

}

.figure1:hover .fa-eye

{

    opacity:1;

}

#contact_section

{
    height:700pxpx;
    margin-top:0px;
    padding-top:100px;
    max-width:100%;
    position:relative;
    background-color: rgb(224, 224, 221);
    
    
}












.formulaire_contact

{

    background-color: rgba(255,255,255, 0.8);
    padding-left:20px;
    padding-right:20px;
    height:500px;
    z-index:50;
    position:absolute;
    right:17%;
    top:25%;
    
    

}


.input_name, .input_email, .input_subject, .textarea_message::placeholder
{

    font-weight:normal;
    font-size:1em;
    border:1px solid grey;
    border-radius:5px;
}



.input_name, .input_email, .input_subject, .textarea_message

{

    padding-top:5px;
    padding-bottom: 5px;
    width:250px;
    border-radius:5px;
    

}

.textarea_message

{
    height:150px;
    font-family:"Roboto-Black";
    font-size:1.2em;

}

.input_name:required


{

    border-color:grey;

}


.bouton_envoyer

{

    
    color:white;
    text-decoration: none;
    background-color:rgb(70, 146, 177);
    width:120px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    border-bottom:3px solid rgb(57, 124, 157);
    border-radius:4px;
    border-left:none;
    border-top:none;
    border-right:none;



}

.bouton_envoyer:hover

{

    opacity:0.5;

}

footer

{

    display:flex;
    justify-content: space-between;
    margin:auto;
    align-items:center;
    text-align:center;
    background-color:rgb(70, 146, 177);
    padding-top:1px;
    padding-bottom:1px;
    color:white;
    text-decoration:none;

}


.fa-arrow-alt-circle-up

{

    font-size:40px;
    text-decoration:none;
    color:white;
}


body{
    margin: 0;
    padding: 0;
  }
  .slidershow{
    width: 100%;
    overflow: hidden;
  }
  .middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
  }
  .bar:hover{
    background: #fff;
  }
  
  input[name="r"]{
      position: absolute;
      visibility: hidden;
  }
  
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slide{
    width: 20%;
    transition: 0.6s;
  }
  .slide img{
    width: 100%;
    height: 100%;
  }
  
  #r1:checked ~ .s1{
    margin-left: 0;
  }
  #r2:checked ~ .s1{
    margin-left: -20%;
  }

